<div class="container">
<h4> Hello, <%=@user.first_name%> <%=@user.last_name%>! </h4>

<div>
	<form action="/" method="post" role="form">
	  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	  
	  <button type="submit" class="btn btn-default">Log Out</button>
	</form>
	
</div>

<div class="col-md-10">
	<h3>All songs in your hub:</h3>
	
		<table class="table table-bordered">
			  <thead>
			    <tr>
			      <th>Artist</th>
			      <th>Title</th>
			      <th>No of times songs has been added</th>
			      <th>Add to playlist</th>
			    </tr>
			  </thead>
			  <tbody>
			  <% @all_songs.reverse.each do |song|%>
				    <tr>
				      <td><%=song.artist%></td>
				      <td><a href="/songs/<%=song.id%>"><%=song.title%></a></td>
				      <td><%=Count.where(song_id: song.id).count%></td>
				      <td>
				      	<form action="/counts/<%=song.id%>" method="post">
				      		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				      		<input type="submit" class="btn btn-default" value="Add" />
				      	</form>
				      </td>
				    </tr>
			    <%end%>
			  </tbody>
		</table>
		<h3>Add a Song</h3>
		<form action="/songs/create" method="post">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<% if flash[:songs_error] %>
		      <%flash[:songs_error].each do |error|%>
		        <h5 style="color:red"><%=error%></h5>
		      <%end%>
		    <%end%>
			<div class="form-group">
		        <label for="title">Title</label>
		        <input type="text" class="form-control" name="song[title]" id="title">
	       </div>
	       <div class="form-group">
		        <label for="artist">Artist</label>
		        <input type="text" class="form-control" name="song[artist]" id="artist" >
	       </div>

			<input type="submit" class="btn btn-default" value="Add Song" />
		</form>
</div> 

</div>